
html{ font-size: 62.5% }
body{
	margin: 0;
	padding: 0;
	font: 1.4rem "Mrs Eaves OT", Arial, sans-serif;
	background-color: #fcfbf5;
	color: #0c0f21;
}
h1{
	font: 2.4em "Mrs Eaves OT", Georgia, serif;
	letter-spacing: 5px;
	text-transform: uppercase;
}
h2,h3,h4{
	font-family: "Proxima Nova", Arial, sans-serif;
	font-variant: small-caps;
}
h2{
	font-size: 2em;
}
h3{
	font-size: 1.5em;
}
img{
	border-radius: 5px;
}
.row{
	margin: 0;
}
.def-btn{
	font-family: "Proxima Nova", Arial, sans-serif;
	padding: 10px 15px;
	background-color: #00ffee;
	color: #0c0f21;
	border: none;
	border-radius: 20px;
	transition: background-color ease .3s;
}
.def-btn:hover{
	background-color: #0c0f21;
	color: #fcfbf5;
}
.navbar{
	margin-bottom: 0;
	position: fixed;
	width: 100%;
	top: 40px;
	background-color: rgba(12,15,33,.95);
	border: none;
	border-radius: 0;
	z-index: 2;
	-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.21);
	-moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.21);
	box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.21);
	background-image: url(../images/logo.svg);
	background-repeat: no-repeat;
	background-size: 100px 100px;
	background-position: left;
}
.navbar-header{
	padding-left: 20px;
}
.cta{
	background-image: url(../images/main.jpg);
	background-size: cover;
	background-repeat: no-repeat; 
	background-position: center;
	padding: 0;
	color: white;
	height: 100vh;
	/*Shorthand*/
}
.cta-cover{
	background-color: rgba(12,15,33,.45);
	height: 100vh;
	padding-top: 30vh; 
}
.jumbotron{
	background-color: transparent;
}
.jumbotron h2,
.jumbotron p{
	margin: 0;
}
.featured-container h2{
	margin: 50px 0;
}
.featured-work{
	background-color: white;
	width: 90%;
	padding: 50px;
	border-radius: 5px;
	border-top: solid 10px #0ce89b;
	-webkit-box-shadow: 0px 14px 21px 0px rgba(0,0,0,0.13);
	-moz-box-shadow: 0px 14px 21px 0px rgba(0,0,0,0.13);
	box-shadow: 0px 14px 21px 0px rgba(0,0,0,0.13);
}
.featured-work img{
	max-width: 70%;
	-webkit-box-shadow: 0px 14px 21px 0px rgba(0,0,0,0.13);
	-moz-box-shadow: 0px 14px 21px 0px rgba(0,0,0,0.13);
	box-shadow: 0px 14px 21px 0px rgba(0,0,0,0.13);
	margin-bottom: 10px;
	transition: box-shadow .5s ease;
}
.featured-work img:hover{
	-webkit-box-shadow: 0px 14px 21px 0px rgba(0,0,0,0.50);
	-moz-box-shadow: 0px 14px 21px 0px rgba(0,0,0,0.50);
	box-shadow: 0px 14px 21px 0px rgba(0,0,0,0.50);
}
.featured-work div{
	padding: 0;
}
.featured-title{
	margin-top: 0;
}
.featured-desc{
	line-height: 20px;
	margin-bottom: 30px;
}
#ht{ color: #d05707; }
#cs{ color: #1d5aa6; }
#js{ color: #eae20b; }
.featured-work a[href*="portfolio"]{
	float: right;
}
.contact-banner,
.contact-page{
	background-color: #0c0f21;
	margin: 0;
	margin-top: 160px;
	padding: 20px 0;
}
.contact-page{
	margin-top: 0;
}
.contact-wrap{
	width: 90%;
	padding: 30px 50px;
}
.contact-message{
	color: #fcfbf5;
	width: 45%;
	margin-right: 5%;
	padding: 0;
}
.contact-message p{
	line-height: 20px;
}
.mail-to{
	color: #0ce89b;
}
.contact-message ul{
	list-style: none;
	margin-top: 30px;
	padding: 0;
	overflow: hidden;
}
.contact-message li{
	float: left;
}
.contact-message ul a{
	display: block;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	text-indent: -9999px;
}
.contact-message a[href*="bitbucket"]{
	background-image: url(../images/bitbucket.svg);
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: center;
}
.contact-message a[href*="linkedin"]{
	background-image: url(../images/linkedin.svg);
	background-repeat: no-repeat;
	background-size: 50px;
	background-position: center;
}
.contact-message a[href*="twitter"]{
	background-image: url(../images/twitter.svg);
	background-repeat: no-repeat;
	background-size: 50px;
	background-position: center;
}
.contact-form{
	background-color: white;
	margin-top: -120px;
	padding: 50px 20px;
	border-radius: 5px;
	border-top: solid 10px #0ce89b;
	-webkit-box-shadow: 0px 14px 21px 0px rgba(0,0,0,0.13);
	-moz-box-shadow: 0px 14px 21px 0px rgba(0,0,0,0.13);
	box-shadow: 0px 14px 21px 0px rgba(0,0,0,0.13);
}
.contact-page .contact-form{
	margin-top: 0;
}
input:focus,
textarea:focus{
	border-left: solid 5px red;
}
textarea{
	resize: none;
}
label{
	display: none;
}
footer{
	background-color: #00ffee;
	padding: 50px;
}
footer .container{
	width: 90%;
	padding: 0;
}
.resume{
	float: left;
	padding: 0;
	width: 35%;
}
.resume a{
	display: block;
	width: 200px;
	text-align: center;
	background-color: #0c0f21;
	color: #fcfbf5;
}
.copyright{
	float: right;
	width: 50%;
	background-image: url(../images/logo.svg);
	background-repeat: no-repeat;
	background-size: 100px;
	background-position: 90%;
	overflow: visible;
}
.copyright ul{
	list-style: none;
	overflow: hidden;
}
.copyright li{
	float: left;
	margin-right: 10px;
}
.copyright p{
	clear: left;
	margin-top: 10px;
}

/* =Portfolio */
.portfolio,
.about,
.contactme{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	padding: 0;
	color: white;
	height: 50vh;
}
.portfolio{
	background-image: url(../images/portfolio.jpg);
	background-position: center;
}
.about{
	background-image: url(../images/about.jpg);
	background-position: center;
}
.contactme{
	background-image: url(../images/main.jpg);
}
.portfolio-cover,
.about-cover,
.contactme-cover{
	background-color: rgba(12,15,33,.45);
	height: 50vh;
	padding-top: 12vh; 
}
.portfolio-cover h1,
.about-cover h1,
.contactme-cover h1{
	background-repeat: no-repeat;
	background-position: center 1px;
	background-size: 70px 70px;
	padding-top: 80px;
}
.portfolio-cover h1{
	background-image: url(../images/newspaper.svg);
}
.about-cover h1{
	background-image: url(../images/headphones.svg);
}
.contactme-cover h1{
	background-image: url(../images/mailing.svg);
}
.portfolio-work img{
	max-width: 350px;
	max-height: 220px;
}
.portfolio-wrap{
	margin-top: 60px;
}
.about-wrap{
	margin-top: 60px;
}
#portrait{
	display: block;
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 14px 13px -2px rgba(0,0,0,0.29);
	-moz-box-shadow: 0px 14px 13px -2px rgba(0,0,0,0.29);
	box-shadow: 0px 14px 13px -2px rgba(0,0,0,0.29);
}
.bio{
	padding: 20px;
	border-radius: 5px;
	border-top: solid 10px #0ce89b;
	-webkit-box-shadow: 0px 14px 21px 0px rgba(0,0,0,0.13);
	-moz-box-shadow: 0px 14px 21px 0px rgba(0,0,0,0.13);
	box-shadow: 0px 14px 21px 0px rgba(0,0,0,0.13);
	overflow: hidden;
}
.bio p{
	line-height: 25px;
}
.bio a{
	float: right;
}
.portfolio-wrap .row{
	margin-bottom: 20px;
}
.portfolio_article{
	position: relative;
	margin-bottom: 60px;
	padding: 0;
}
.portfolio_article img{
	display: block;
	width: 90%;
	margin: 0 auto;
	max-height: 350px;
	-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.21);
	-moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.21);
	box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.21);
	object-fit: cover;
}
.article_overlay{
	display: block;
	color: white;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 90%;
	height: 100%;
	padding: 10px;
	border-radius: 5px;
	opacity: 0;
	transition: all .5s ease;
}
.portfolio_article:hover .article_overlay{
	opacity: 1;
	background-color: rgba(12,15,33,.75);
	-webkit-box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.31);
	-moz-box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.31);
	box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.31);
}
.fa-bitbucket{
	margin-top: 20px;
	font-size: 80px;
}
.repository-link{
	display: block;
	width: 50%;
	margin: 20px auto;
}



/* ------------------------------------------------ =Media Queries --------------------------------------------- 
_______________________________________________________________________________________________________________
_______________________________________________________________________________________________________________ */




@media screen and (max-width: 1199px){
	.fa-bitbucket{
		font-size: 40px;
	}
}

@media screen and (max-width: 991px){
	.featured-container{
		text-align: center;
	}
	.featured-desc{
		margin-top: 20px;
	}
	.featured-work a[href*="portfolio"]{
		float: none;
		display: block;
		width: 200px;
		margin: 20px auto 0;
	}
	.contact-form{
		margin-top: 30px;
	}
	.contact-message{
		width: 100%;
	}
	.fa-bitbucket{
		margin-top: 80px;
	}
	.resume{
		float: none;
		width: 95%;
		margin: 0 auto 40px;
		text-align: center;
	}
	.resume a{
		display: block;
		margin: 0 auto;
	}
	.copyright{
		float: none;
		width: 95%;
		margin: 0 auto;
		padding-bottom: 60px;
		background-position: center 20px;
		text-align: center;
	}
	.copyright ul{
		width: 100%;
		text-align: center;
		padding: 0;
	}
	.copyright li{
		display: inline-block;
		float: none;
	}
	
}
@media screen and (max-width: 765px){
	.navbar{
		background-position: center;
	}
}
@media screen and (max-width: 415px){
	.fa-bitbucket{
		margin-top: 20px;
	}
	.copyright{
		background-position: center 60px;
	}
	.navbar-brand{
		display: none;
	}
}


