section.contact-banner

		div.container.contact-wrap

			div.col-md-6.contact-message

				h2 Let's Talk Business
					p I gotta pay the student loans somehow... Please feel free to contact me with questions about projects or potential work!
					p Message me at 
						a.mail-to(href="mailto:ethanwheckard@gmail.com") ethanwheckard@gmail.com

					nav
						ul
							li 
								a(href="https://github.com/eheckard23") github
							li 
								a(href="https://www.linkedin.com/in/ethan-heckard") linkedin
							li 
								a(href="https://twitter.com/ethan_heckard") twitter

			div.col-md-6.contact-form

				form(action="mailto:ethanwheckard@gmail.com",method="post", enctype="application/x-www-form-urlencoded")
						
						p.form-group
							label(for="name") Name
							input#name.form-control(type="text", name="name", placeholder="Name")
							label.error(for="name")

						p.form-group
							label(for="email") Email Address
							input#email.form-control(type="text", name="email", placeholder="Email Address")
							label.error(for="email")

						p.form-group
							label(for="message") Message
							textarea#message.form-control(name="message", placeholder="Message")
							label.error(for="message")

						input.def-btn(type="submit", value="Send")