footer
	div.container
		div.col-sm-6.resume
			p Thank you for visiting my personal site. Stick around to see more of my coming works to share.
			a.def-btn(href='/files/EthanHeckard_Resume.pdf', download='Ethan_Heckard_Resume') Download My Resume

		nav.col-sm-6.copyright
			ul
				li
					a(href='/') Home
				li
					a(href='files/EthanHeckard_Resume.pdf', download='Ethan_Heckard_Resume') Resume
				li
					a(href='/portfolio') Portfolio
				li
					a(href='/about') About Me
				li
					a(href='/contact') Contact

			p All content copyright &copy; Ethan Heckard 2017