nav.navbar.navbar-inverse
	div.container
		div.navbar-header
			a#logo.navbar-brand(href='/') Ethan Heckard
		div#myNavbar.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				li
					a(href='files/EthanHeckard_Resume.pdf', download='Ethan_Heckard_Resume') Resume
				li
					a(href='/portfolio') Portfolio
				li
					a(href='/about') About Me
				li
					a(href='/contact') Contact