extends template.pug

block content

	//- Jumbotron
	section.cta
		div.cta-cover
			div.jumbotron.text-center
				h1 Ethan Heckard
				p I am a
				h2 
					em front/back-end developer
				p currently in Orlando, Florida

	//- Featured Work
	section.featured-container
		
		h2.text-center Recent Work

		article.container.featured-work
			
			h3.featured-title Chef's Compass
			p July 20, 2017
			
			//- Featured Image
			div.col-md-6.featured-img
				a(href="https://chefs-compass-prod.herokuapp.com/", target="_blank")
					img(src="images/chefs_work.jpg", alt="Chef's Compass")
					p Click to see full project
			
			div.col-md-6
				p.featured-desc Chef's Compass is a meal planner and recipe finder application. The goal was to use 3rd-party API’s to create a new client-side application. I used Spoonacular’s API to get information over thousands of recipes. From there, I use raw JavaScript and AJAX to let users search for recipes, generate their own meal plans, view recipes, and even let them pin recipes to their Pinterest boards. With the use of YouTube’s client API, users could also look at video tutorials on similar recipes.

				p
					b Skills Used:
				p
					span.ht JavaScript / 
					span.cs API's / 
					span.js MVC

				a.def-btn(href="/portfolio") Full Portfolio