extends template.pug

block content

	section.portfolio
		div.portfolio-cover
			div.jumbotron.text-center
				h1 Portfolio

	section.portfolio-wrap
		div.container
				article.col-md-4.portfolio_article
					img(src="images/recordshop.jpg", alt="Record Shop")
					div.article_overlay
						h4 Record Shop
						p Full-Stack React Application
						i.fa.fa-github.fa-5x(aria-hidden="true")
						a.def-btn.repository-link(href="https://github.com/eheckard23/parkWeb", target="_blank") View the code

				article.col-md-4.portfolio_article
					img(src="images/chefs_work.jpg", alt="Chef's Compass")
					div.article_overlay
						h4 Chef's Compass
						p Vanilla JavaScript and numerous 3rd-party API's
						i.fa.fa-github.fa-5x(aria-hidden="true")
						a.def-btn.repository-link(href="https://chefs-compass-prod.herokuapp.com/", target="_blank") Live Project

				article.col-md-4.portfolio_article
					img(src="images/ecommerce.jpg", alt="Ecommerce Site")
					div.article_overlay
						h4 TrueCart
						p Using Node.js to create a full shopping cart with Stripe API payments
						i(aria-hidden="true").fa.fa-github
						a.def-btn.repository-link(href="https://github.com/eheckard23/Portfolio_6_Solo", target="_blank") View the code
		div.container
				article.col-md-4.portfolio_article
					img(src="images/php_work.jpg", alt="Work Title")
					div.article_overlay
						h4 &#60;?PHP
						p Using server-side technology to create and store user information within a database.
						i(aria-hidden="true").fa.fa-github
						a.def-btn.repository-link(href="https://bitbucket.org/eheckard23/heckard_ethan_portfolio", target="_blank") View the code

				article.col-md-4.portfolio_article
					img(src="images/server.jpg", alt="Server Setup") 
					div.article_overlay
						h4 Server Setup
						p Documenting the process of getting an Ubuntu server up and running with a full LEMP stack, firewall, and self-signed SSL.
						i.fa.fa-github.fa-5x(aria-hidden="true")
						a.def-btn.repository-link(href="https://github.com/eheckard23/Server_Stack" target="_blank") View the code

				article.col-md-4.portfolio_article
					img(src="images/coming_soon.jpg", alt="Server Setup") 
					div.article_overlay
						h4 Coming Soon
						p Please be sure to visit again soon to see the future projects I've been working on.
						i.fa.fa-github.fa-5x(aria-hidden="true")
						a.def-btn.repository-link(href="https://github.com/eheckard23" target="_blank") See My GitHub

				

